<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Booking Process</title>
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <div th:replace="fragements/nav :: header"></div>


    <!-- Error Message -->
    <div class="message" th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p th:text="${error}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="container base">
        <div class="row base-row">
            <div class="col-9 seat-main">
                <h2>Please schedule your date</h2>

                <form action="filter-booking" method="get" id="filterForm">
                    <div class="form-row">
                        <input type="hidden" name="movieName" th:value="${session.movieName}" class="form-control" />

                        <div class="col-sm-6">
                            <select name="localtime" id="timeselect" class="form-control" readonly>
                                <option value="09:00 pm" selected>09:00 pm</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="date" name="filterDate" id="filterDate" th:value="${date}"
                                th:min="${min}" th:max="${max}">
                        </div>
                    </div>
                </form>

                <div class="date_form form-group-row">
                    <form action="book-seat" method="post">

                        <div class="col-sm-6">
                            <input class="form-control" type="hidden" required="required" name="bookDate"
                                th:value="${date}" th:min="${min}" th:max="${max}" id="dateselect" />
                        </div>
                </div>
                <br />

                <div class="jumbotron p-0 js-seat text-center">
                    <h4>Seat selected</h4>
                    <div class="dynamic-seat" id="seat-dynamic" style="word-break: break-all">

                    </div>
                    <h4>Total</h4>
                    <label id="show-price">0</label><span>rs</span>

                </div>


                <input type="text" name="movieName" th:value="${session.movieName}" class="form-control" readonly />
                <div class="container seat-section">

                    <h2>Please select your seat</h2>
                    <div class="symbol"><i class="fas fa-square one"></i>&nbsp;<span>Already
                            Booked</span>&nbsp;
                        <i class="fas fa-square two"></i>&nbsp;<span>Seat Available</span>
                    </div>
                    <div class="row seat-row">

                        <img alt="Movies Screen Icon" th:src="@{Images/screen-icon.8dd7f126.svg}" decoding="async"
                            data-nimg="intrinsic" style="position: absolute;min-height: 8%;margin-left: 80px;">

                        <div class="col-5 first mt-106">

                            <input type="checkbox" id="seat1" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat1')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat1')}"
                                th:disabled="${#lists.contains(seats, 'seat1')}" value="seat1" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat1">1</label>

                            <input type="checkbox" id="seat2" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat2')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat2')}"
                                th:disabled="${#lists.contains(seats, 'seat2')}" value="seat2" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat2">2</label>

                            <input type="checkbox" id="seat3" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat3')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat3')}"
                                th:disabled="${#lists.contains(seats, 'seat3')}" value="seat3" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat3">3</label>

                            <input type="checkbox" id="seat4" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat4')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat4')}"
                                th:disabled="${#lists.contains(seats, 'seat4')}" value="seat4" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat4">4</label>

                            <input type="checkbox" id="seat5" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat5')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat5')}"
                                th:disabled="${#lists.contains(seats, 'seat5')}" value="seat5" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat5">5</label><br>

                            <input type="checkbox" id="seat6" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat6')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat6')}"
                                th:disabled="${#lists.contains(seats, 'seat6')}" value="seat6" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat6">6</label>

                            <input type="checkbox" id="seat7" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat7')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat7')}"
                                th:disabled="${#lists.contains(seats, 'seat7')}" value="seat7" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat7">7</label>

                            <input type="checkbox" id="seat8" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat8')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat8')}"
                                th:disabled="${#lists.contains(seats, 'seat8')}" value="seat8" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat8">8</label>

                            <input type="checkbox" id="seat9" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat9')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat9')}"
                                th:disabled="${#lists.contains(seats, 'seat9')}" value="seat9" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat9">9</label>

                            <input type="checkbox" id="seat10" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat10')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat10')}"
                                th:disabled="${#lists.contains(seats, 'seat10')}" value="seat10" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat10">10</label><br>


                            <input type="checkbox" id="seat11" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat11')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat11')}"
                                th:disabled="${#lists.contains(seats, 'seat11')}" value="seat11" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat11">11</label>

                            <input type="checkbox" id="seat12" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat12')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat12')}"
                                th:disabled="${#lists.contains(seats, 'seat12')}" value="seat12" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat12">12</label>

                            <input type="checkbox" id="seat13" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat13')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat13')}"
                                th:disabled="${#lists.contains(seats, 'seat13')}" value="seat13" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat13">13</label>

                            <input type="checkbox" id="seat14" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat14')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat14')}"
                                th:disabled="${#lists.contains(seats, 'seat14')}" value="seat14" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat14">14</label>

                            <input type="checkbox" id="seat15" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat15')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat15')}"
                                th:disabled="${#lists.contains(seats, 'seat15')}" value="seat15" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat15">15</label><br>


                            <input type="checkbox" id="seat16" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat16')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat16')}"
                                th:disabled="${#lists.contains(seats, 'seat16')}" value="seat16" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat16">16</label>

                            <input type="checkbox" id="seat17" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat17')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat17')}"
                                th:disabled="${#lists.contains(seats, 'seat17')}" value="seat17" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat17">17</label>

                            <input type="checkbox" id="seat18" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat18')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat18')}"
                                th:disabled="${#lists.contains(seats, 'seat18')}" value="seat18" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat18">18</label>

                            <input type="checkbox" id="seat19" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat19')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat19')}"
                                th:disabled="${#lists.contains(seats, 'seat19')}" value="seat19" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat19">19</label>

                            <input type="checkbox" id="seat20" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat20')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat20')}"
                                th:disabled="${#lists.contains(seats, 'seat20')}" value="seat20" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat20">20</label>


                        </div>

                        <div class="col-5 second mt-106">
                            <input type="checkbox" id="seat21" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat21')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat21')}"
                                th:disabled="${#lists.contains(seats, 'seat21')}" value="seat21" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat21">21</label>

                            <input type="checkbox" id="seat22" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat22')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat22')}"
                                th:disabled="${#lists.contains(seats, 'seat22')}" value="seat22" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat22">22</label>

                            <input type="checkbox" id="seat23" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat23')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat23')}"
                                th:disabled="${#lists.contains(seats, 'seat23')}" value="seat23" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat23">23</label>

                            <input type="checkbox" id="seat24" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat24')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat24')}"
                                th:disabled="${#lists.contains(seats, 'seat24')}" value="seat24" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat24">24</label>

                            <input type="checkbox" id="seat25" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat25')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat25')}"
                                th:disabled="${#lists.contains(seats, 'seat25')}" value="seat25" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat25">25</label><br>

                            <input type="checkbox" id="seat26" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat26')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat26')}"
                                th:disabled="${#lists.contains(seats, 'seat26')}" value="seat26" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat26">26</label>

                            <input type="checkbox" id="seat27" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat27')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat27')}"
                                th:disabled="${#lists.contains(seats, 'seat27')}" value="seat27" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat27">27</label>

                            <input type="checkbox" id="seat28" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat28')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat28')}"
                                th:disabled="${#lists.contains(seats, 'seat28')}" value="seat28" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat28">28</label>

                            <input type="checkbox" id="seat29" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat29')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat29')}"
                                th:disabled="${#lists.contains(seats, 'seat29')}" value="seat29" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat29">29</label>

                            <input type="checkbox" id="seat30" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat30')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat30')}"
                                th:disabled="${#lists.contains(seats, 'seat30')}" value="seat30" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat30">30</label><br>


                            <input type="checkbox" id="seat31" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat31')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat31')}"
                                th:disabled="${#lists.contains(seats, 'seat31')}" value="seat31" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat31">31</label>

                            <input type="checkbox" id="seat32" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat32')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat32')}"
                                th:disabled="${#lists.contains(seats, 'seat32')}" value="seat32" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat32">32</label>

                            <input type="checkbox" id="seat33" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat33')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat33')}"
                                th:disabled="${#lists.contains(seats, 'seat33')}" value="seat33" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat33">33</label>

                            <input type="checkbox" id="seat34" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat34')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat34')}"
                                th:disabled="${#lists.contains(seats, 'seat34')}" value="seat34" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat34">34</label>

                            <input type="checkbox" id="seat35" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat35')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat35')}"
                                th:disabled="${#lists.contains(seats, 'seat35')}" value="seat35" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat35">35</label><br>


                            <input type="checkbox" id="seat36" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat36')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat36')}"
                                th:disabled="${#lists.contains(seats, 'seat36')}" value="seat36" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat36">36</label>

                            <input type="checkbox" id="seat37" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat37')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat37')}"
                                th:disabled="${#lists.contains(seats, 'seat37')}" value="seat37" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat37">37</label>

                            <input type="checkbox" id="seat38" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat38')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat38')}"
                                th:disabled="${#lists.contains(seats, 'seat38')}" value="seat38" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat38">38</label>

                            <input type="checkbox" id="seat39" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat39')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat39')}"
                                th:disabled="${#lists.contains(seats, 'seat39')}" value="seat39" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat39">39</label>

                            <input type="checkbox" id="seat40" autocomplete="off" hidden="hidden"
                                th:classappend="${#lists.contains(seats, 'seat40')} ? 'box1' : 'mybtn'"
                                th:checked="${#lists.contains(seats, 'seat40')}"
                                th:disabled="${#lists.contains(seats, 'seat40')}" value="seat40" name="seatNo[]"><label
                                class="btn btn-success seat-btn" for="seat40">40</label>
                        </div>



                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn1">Book seat</button>
                </form>


            </div>

            <br>

        </div>

    </div>

    <script>

        document.getElementById("filterDate").onchange = function () {
            document.getElementById("filterForm").submit();
        }

        const mySeats = document.getElementById('seat-dynamic');
        const myPrice = document.getElementById('show-price');
        var total = 0;
        var seat = [];
        const checkBox = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkBox.length; i++) {
            checkBox[i].addEventListener('click', displayValue);

        }
        function displayValue(e) {
            var myValue = 500;
            if (e.target.checked == true) {
                seat.push(e.target.id);

                total += myValue;

            } else {
                var index = seat.indexOf(e.target.id);
                seat.splice(index, 1);
                total -= myValue;

            }
            // seat.join("");
            console.log(seat);
            console.log(total);
            mySeats.innerHTML = seat;
            myPrice.innerHTML = total;
        }
    </script>
</body>

</html>