<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
    <link rel="stylesheet" href="#" th:href="@{/css/style.css}" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <div th:replace="fragements/nav :: header"></div>

    <br>

    <!-- Error Message -->
    <div class="error" th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p th:text="${error}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Movie</th>
                    <th scope="col">TotalPrice</th>
                    <th scope="col">BookingDate</th>
                    <th scope="col">ShowDate</th>
                    <th scope="col">ShowTime</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order, iterationStat  : ${myOrders}">
                    <th scope="row" th:text="${iterationStat.count}"></th>
                    <td th:text="${order.movieName}"></td>
                    <td th:text="${order.total}"></td>
                    <td th:text="${order.bookOnDate}"></td>
                    <td th:text="${order.showOnDate}"></td>
                    <td th:text="${order.showTime}"></td>
                    <td th:if="${order.is_cancelled == false}">
                        <form th:action="@{cancel-ticket}" method="post">
                            <input type="hidden" name="orderId" id="orderId" th:value="${order.id}">
                            <button type="submit" class="btn btn-sm btn-danger"
                                onclick="return confirm('Are You Sure to Cancel the Ticket')">Cancel Ticket</button>
                        </form>
                    </td>
                    <td th:if="${order.is_cancelled == true}">
                        <button type="submit" class="btn btn-sm btn-warning">Cancelled</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>